@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  min-width: 540px;
  font-family: 'Montserrat', sans-serif; }

.btn {
  background: none;
  border: 1px solid #6FCBFF;
  border-radius: 4em;
  color: #414141;
  text-transform: uppercase; }
  .btn:hover {
    color: #F9F9F9;
    background: #6FCBFF; }
  .btn:focus {
    color: #F9F9F9;
    background: rgba(110, 203, 255, 0.5);
    outline: none !important; }

.header {
  display: flex;
  justify-content: space-around;
  color: #414141; }
  .header .logo {
    margin-top: 2.5em;
    margin-left: -4.2em;
    width: 10%;
    height: 5em;
    background: url("./assets/logo 2.png") no-repeat;
    background-size: cover; }
  .header .menu {
    margin-top: 3.6em;
    margin-left: 1em;
    display: flex;
    list-style: none;
    font-size: 1.2em;
    justify-content: space-between;
    width: 30%; }
    .header .menu li:hover {
      color: #6FCBFF; }
  .header .contact_buttons {
    margin-top: 4.1em;
    margin-left: 0em;
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 15%;
    height: 1.8em; }
    .header .contact_buttons .phone {
      margin-left: 5em; }
    .header .contact_buttons .contact_us {
      margin-right: -5em;
      width: 10em; }

.main_container {
  display: flex;
  justify-content: space-around;
  color: #414141; }
  .main_container .main_text {
    position: fixed;
    top: 20%;
    font-size: 18em;
    overflow: hidden;
    color: #F9F9F9;
    font-family: "Termina" serif;
    font-weight: bold;
    text-transform: uppercase;
    z-index: -1; }
  .main_container .top_main {
    display: flex; }
    .main_container .top_main .first_part {
      display: block;
      padding-top: 20%;
      margin-left: -3%;
      width: 15%; }
      .main_container .top_main .first_part p {
        transform: rotate(-90deg);
        color: #6FCBFF;
        width: 12em;
        font-size: 1.4em;
        text-transform: uppercase; }
    .main_container .top_main .second_part {
      display: block;
      width: 10%; }
    .main_container .top_main .third_part {
      display: block;
      margin-top: 2.3em;
      width: 75%;
      height: 51em;
      background-image: url("./assets/Rectangle.png");
      background-size: cover;
      background-repeat: no-repeat; }
      .main_container .top_main .third_part .main_info {
        width: 70%;
        height: 27em;
        background: white;
        position: relative;
        top: 30%;
        left: -17%; }
        .main_container .top_main .third_part .main_info h1 {
          color: #6FCBFF;
          font-size: 4em;
          font-weight: 100; }
        .main_container .top_main .third_part .main_info .read_more {
          margin-top: 0.7em;
          margin-left: 2.8em;
          height: 2.5em;
          width: 12em;
          font-size: 1.4em; }
  .main_container .second_page_block1 {
    display: none;
    width: 24%;
    height: 50em;
    margin-top: 3%;
    margin-left: -5%;
    background: url("./assets/Rectangle1.png") no-repeat;
    background-size: cover; }
  .main_container .second_page_block2 {
    display: none;
    width: 25%;
    margin-top: 15%;
    margin-left: 0%; }
    .main_container .second_page_block2 h2 {
      font-size: 3em; }
    .main_container .second_page_block2 p {
      font-size: 1.5em; }
  .main_container .second_page_block3 {
    display: none;
    width: 23%;
    margin-top: 8%;
    margin-left: -5%;
    background: url("./assets/Rectangle2.png") no-repeat;
    background-size: cover; }
  .main_container .numbers {
    width: 10%;
    list-style: none;
    margin-top: 10em;
    margin-left: -5em; }
    .main_container .numbers li {
      height: 6em;
      vertical-align: middle;
      cursor: pointer; }
      .main_container .numbers li:hover {
        color: #6FCBFF;
        font-size: 2em; }
      .main_container .numbers li:focus {
        color: #6FCBFF;
        font-size: 2em; }

.foot_btn {
  border: none;
  background: none;
  color: #6FCBFF;
  height: 1.8em;
  font-size: 1.2em; }
  .foot_btn:hover {
    border-radius: 4em;
    border: 1px solid #6FCBFF; }
  .foot_btn:focus {
    border-radius: 4em;
    border: 1px solid #6FCBFF;
    color: rgba(110, 203, 255, 0.5);
    outline: none !important; }

.footer {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%; }

.blue {
  color: darkcyan; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: 0; }

@media only screen and (max-width: 1366px) {
  header .contact_buttons {
    width: 30%; }

  .main_container .top_main .third_part {
    width: 70%;
    height: 45em; }
    .main_container .top_main .third_part .main_info {
      width: 70%;
      height: 20em;
      top: 25%;
      left: -10%; }
      .main_container .top_main .third_part .main_info h1 {
        font-size: 4em; }
      .main_container .top_main .third_part .main_info .read_more {
        height: 2em;
        width: 10em;
        font-size: 1em; }
  .main_container .second_page_block1 {
    width: 25%;
    height: 30em;
    margin-top: 3%;
    margin-left: 0%; }
  .main_container .second_page_block2 {
    width: 25%;
    margin-top: 10%;
    margin-left: -5%; }
    .main_container .second_page_block2 h2 {
      font-size: 2em; }
    .main_container .second_page_block2 p {
      font-size: 1em; }
  .main_container .second_page_block3 {
    width: 20%;
    margin-top: 8%;
    margin-left: -5%; } }
@media only screen and (max-width: 1280px) {
  .header .logo {
    margin-left: 5%;
    width: 8%;
    height: 3em; }
  .header .menu {
    width: 50%; }

  .main_container .top_main .first_part p {
    font-size: 0.9em; }
  .main_container .top_main .third_part {
    width: 70%;
    height: 45em; }
    .main_container .top_main .third_part .main_info {
      width: 70%;
      height: 20em;
      top: 25%;
      left: -10%; }
      .main_container .top_main .third_part .main_info h1 {
        font-size: 3em; }
      .main_container .top_main .third_part .main_info .read_more {
        height: 2em;
        width: 10em;
        font-size: 0.9em; } }
@media only screen and (max-width: 980px) {
  .header .logo {
    width: 7%;
    height: 2.5em; }
  .header .contact_buttons .contact_us {
    display: none; }

  .main_container .top_main .first_part p {
    font-size: 0.9em; }
  .main_container .top_main .third_part {
    width: 70%;
    height: 45em; }
    .main_container .top_main .third_part .main_info {
      width: 70%;
      height: 20em;
      top: 25%;
      left: -10%; }
      .main_container .top_main .third_part .main_info h1 {
        font-size: 3em; }
      .main_container .top_main .third_part .main_info .read_more {
        height: 2em;
        width: 10em;
        font-size: 0.9em; }
  .main_container .second_page_block2 h2 {
    font-size: 1.5em; }
  .main_container .second_page_block2 p {
    font-size: 0.8em; } }
@media only screen and (max-width: 980px) {
  .header .logo {
    width: 7%;
    height: 2.5em; }
  .header .contact_buttons .contact_us {
    display: none; }

  .main_container .main_text {
    display: none; }
  .main_container .top_main .first_part p {
    font-size: 0.9em; }
  .main_container .top_main .third_part .main_info h1 {
    font-size: 2.5em; } }
@media only screen and (max-width: 768px) {
  .header .logo {
    width: 6%;
    height: 2em; }
  .header .menu {
    font-size: 0.9em; }
  .header .contact_buttons {
    margin-top: 5%;
    margin-left: -5%; }
    .header .contact_buttons .contact_us {
      display: none; }

  .main_container .top_main .first_part p {
    font-size: 0.6em; }
  .main_container .top_main .third_part .main_info h1 {
    font-size: 2em; }
  .main_container .second_page_block1 {
    width: 40%;
    height: 25em; }
  .main_container .second_page_block3 {
    width: 1%;
    visibility: hidden; } }
@media only screen and (max-width: 540px) {
  .header .logo {
    width: 6%;
    height: 1.8em; }
  .header .menu {
    font-size: 0.8em;
    margin-left: -10%; }
  .header .contact_buttons {
    margin-top: 7%;
    margin-left: -15%; }

  .main_container {
    flex-direction: column; }
    .main_container .top_main .third_part {
      height: 33em; }
    .main_container .second_page_block1 {
      height: 30em;
      width: 70%;
      align-self: center; }
    .main_container .second_page_block2 {
      width: 70%;
      align-self: center; }
    .main_container .numbers_block {
      margin: 0; }
      .main_container .numbers_block ul {
        margin-top: 1em;
        margin-left: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 90%; }
        .main_container .numbers_block ul li {
          height: 2em; }

  .footer {
    justify-content: flex-start; } }
@media only screen and (max-width: 480px) {
  .header {
    display: flex;
    justify-content: flex-start; }
    .header .menu {
      margin-left: -1em; }
    .header .contact_buttons {
      display: none; }

  .main_container {
    flex-direction: column; }
    .main_container .top_main .third_part {
      height: 33em; }
    .main_container .second_page_block1 {
      margin-left: -5em;
      height: 20em;
      width: 50%;
      align-self: center; }
    .main_container .second_page_block2 {
      margin-left: -5em;
      width: 50%;
      align-self: center; }
    .main_container .numbers_block {
      margin: 0;
      margin-left: -5em; }
      .main_container .numbers_block ul {
        justify-content: center; }
        .main_container .numbers_block ul li {
          height: 2em;
          margin-right: 2em; } }
@media only screen and (max-width: 375px) {
  .main_container .top_main .third_part .main_info {
    width: 60%; }
    .main_container .top_main .third_part .main_info h1 {
      font-size: 2em; }
    .main_container .top_main .third_part .main_info p {
      font-size: 0.9em; }
  .main_container .second_page_block1 {
    margin-left: -10em; }
  .main_container .second_page_block2 {
    margin-left: -10em; }
  .main_container .numbers {
    margin-left: -10em; } }

/*# sourceMappingURL=style.css.map */
