@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
    min-width: 540px;
    font-family: 'Montserrat', sans-serif;    
}
$blue: #6FCBFF;
$gray: #414141;
$light_gray:#F9F9F9;
.btn {
    background: none;
    border: 1px solid $blue;
    border-radius: 4em;
    color: $gray;
    text-transform: uppercase;
    &:hover {
        color: $light_gray;
        background: $blue;
    }
    &:focus {
        color: $light_gray;
        background: rgba(110, 203, 255, 0.5);
        outline: none !important;
    }

}
.header {
    display: flex;
    justify-content: space-around;
    color: $gray;
    .logo {
        margin-top: 2.5em;
        margin-left: -4.2em;
        width: 10%;
        height: 5em;
        background: url('./assets/logo\ 2.png') no-repeat;        
    }
    .menu {
        margin-top: 3.6em;
        margin-left: 1em;
        display: flex;        
        list-style: none;
        font-size: 1.2em;
        justify-content: space-between;
        width: 30%;
        li:hover {
            color: $blue;
        }
    }
    .contact_buttons {
        margin-top: 4.1em;
        margin-left: 0em;
        display: flex; 
        align-content: center; 
        justify-content: space-between;
        width: 15%; 
        height: 1.8em;
        .phone {
            margin-left: 5em;
        }
        .contact_us {            
            margin-right: -5em;
            width: 10em;
        }
    }
}

.main_container {
    display: flex;
    justify-content: space-around;
    color: $gray;
    .main_text {
        position: fixed;
        top: 20%;        
        font-size: 18em;
        overflow: hidden;        
        color: $light_gray;
        font-family: "Termina" serif;
        font-weight: bold;
        text-transform: uppercase;
        z-index: -1;
    }
    .top_main {
        display: flex;        
        .first_part { 
            display: block; 
            padding-top: 20%;
            margin-left: -3%; 
            width: 5em;         
           p {               
               transform: rotate(-90deg);               
               color: $blue;
               width: 8em;
               font-size: 1.4em;
               text-transform: uppercase;
            } 
        }
        .second_part {
            display: block;
            width: 19em;            
        }
        .third_part {
            display: block;
            .main_info {
                width: 57em;
                height: 27em;
                background: white;
                position: relative;
                top: 30%;
                left: -17%;                
                h1 {
                    color: $blue;
                    font-size: 5em;
                    font-weight: 100;
                }
                .read_more {
                    margin-top: 0.7em;
                    margin-left: 2.8em;
                    height: 2.5em;
                    width: 12em;
                    font-size: 1.4em;
                }
            }
            margin-top: 2.3em;
            width: 80em;
            height: 51em;
            background-image: url("./assets/Rectangle.png");
            background-size: cover;
            background-repeat: no-repeat;
        }        
    }
    .second_page_block1 {
        display: none;            
        width: 34%;
        height: 50em;
        margin-top: 3%;
        margin-left: 0%;
        background: url('./assets/Rectangle1.png') no-repeat;
        background-size: cover;
    }
    .second_page_block2 {
        display: none;
        width: 33%;
        margin-top: 15%;
        margin-left: -15%;
        h2 {
            font-size: 3em;
        }
        p {
            font-size: 1.5em;
        }
    }
    .second_page_block3 {
        display: none;
        width: 27em;
        margin-top:8%;
        margin-left: -5%; 
        background: url('./assets/Rectangle2.png') no-repeat; 
        background-size: cover;
    }
    .numbers {
        list-style: none;
        margin-top: 10em;
        margin-left: -5em;        
        li  {            
            height: 6em;            
            vertical-align: middle;
            cursor: pointer;            
            &:hover {
                color: $blue;
                font-size: 2em;
                
            } 
            &:focus {
                color: $blue;
                font-size: 2em;
            } 
        }        
    }
}
.foot_btn {
    border: none;
    background: none;
    color: $blue;
    height: 1.8em;
    font-size: 1.2em;
    
    &:hover {
        border-radius: 4em;
        border: 1px solid $blue;
    }
    &:focus {
        border-radius: 4em;
        border: 1px solid $blue;
        color: rgba(110, 203, 255, 0.5);
        outline: none !important;
    }
}
.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 5%; 
    padding-right: 5%; 
}
.blue {
    color: darkcyan;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: 0;
}
@media only screen and (max-width:1400px){
    header .contact_buttons {
        width: 30%; 
    }
    .main_container {
    .top_main {
    .third_part {
        .main_info {
            width: 40em;
            height: 20em;            
            top: 25%;
            left: -10%;                
            h1 {                
                font-size: 4em;                
            }
            .read_more {                
                height: 2em;
                width: 10em;
                font-size: 1em;
            }
        }        
        width: 55em;
        height: 35em;        
    }
}
    .second_page_block1 {                   
        width: 25%;
        height: 30em;
        margin-top: 3%;
        margin-left: 0%;        
    }
    .second_page_block2 {        
        width: 25%;
        margin-top: 10%;
        margin-left: -5%;
        h2 {
            font-size: 2em;
        }
        p {
            font-size: 1em;
        }
    }
    .second_page_block3 {        
        width: 20%;
        margin-top:8%;
        margin-left: -5%;         
    }
}
}
@media only screen and (max-width:1280px){
    
}
@media only screen and (max-width:768px){
    
}
@media only screen and (max-width:540px){
    
}
@media only screen and (max-width:480px){
    
}
