@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
    min-width: 540px;
    font-family: 'Montserrat', sans-serif;    
}
$blue: #6FCBFF;
$gray: #414141;
$light_gray:#F9F9F9;
.btn {
    background: none;
    border: 1px solid $blue;
    border-radius: 4em;
    color: $gray;
    text-transform: uppercase;
    &:hover {
        color: $light_gray;
        background: $blue;
    }
    &:focus {
        color: $light_gray;
        background: rgba(110, 203, 255, 0.5);
        outline: none !important;
    }

}
.header {
    display: flex;
    justify-content: space-around;
    color: $gray;
    .logo {
        margin-top: 2.5em;
        margin-left: -4.2em;
        width: 10%;
        height: 5em;
        background: url('./assets/logo\ 2.png') no-repeat;  
        background-size: cover;      
    }
    .menu {
        margin-top: 3.6em;
        margin-left: 1em;
        display: flex;        
        list-style: none;
        font-size: 1.2em;
        justify-content: space-between;
        width: 30%;
        li:hover {
            color: $blue;
        }
    }
    .contact_buttons {
        margin-top: 4.1em;
        margin-left: 0em;
        display: flex; 
        align-content: center; 
        justify-content: space-between;
        width: 15%; 
        height: 1.8em;
        .phone {
            margin-left: 5em;
        }
        .contact_us {            
            margin-right: -5em;
            width: 10em;
        }
    }
}

.main_container {
    display: flex;
    justify-content: space-around;
    color: $gray;
    .main_text {
        position: fixed;
        top: 20%;        
        font-size: 18em;
        overflow: hidden;        
        color: $light_gray;
        font-family: "Termina" serif;
        font-weight: bold;
        text-transform: uppercase;
        z-index: -1;
    }
    .top_main {
        display: flex;                
        .first_part { 
            display: block; 
            padding-top: 20%;
            margin-left: -3%; 
            width: 15%;         
           p {               
               transform: rotate(-90deg);               
               color: $blue;
               width: 12em;
               font-size: 1.4em;
               text-transform: uppercase;
            } 
        }
        .second_part {
            display: block;
            width: 10%;            
        }
        .third_part {
            display: block;
            .main_info {
                width: 70%;
                height: 27em;
                background: white;
                position: relative;
                top: 30%;
                left: -17%;                
                h1 {
                    color: $blue;
                    font-size: 4em;
                    font-weight: 100;
                }
                .read_more {
                    margin-top: 0.7em;
                    margin-left: 2.8em;
                    height: 2.5em;
                    width: 12em;
                    font-size: 1.4em;
                }
            }
            margin-top: 2.3em;
            width: 75%;
            height: 51em;
            background-image: url("./assets/Rectangle.png");
            background-size: cover;
            background-repeat: no-repeat;
        }        
    }
    .second_page_block1 {
        display: none;            
        width: 24%;
        height: 50em;
        margin-top: 3%;
        margin-left: -5%;
        background: url('./assets/Rectangle1.png') no-repeat;
        background-size: cover;
    }
    .second_page_block2 {
        display: none;
        width: 25%;
        margin-top: 15%;
        margin-left: 0%;
        h2 {
            font-size: 3em;
        }
        p {
            font-size: 1.5em;
        }
    }
    .second_page_block3 {
        display: none;
        width: 23%;
        margin-top:8%;
        margin-left: -5%; 
        background: url('./assets/Rectangle2.png') no-repeat; 
        background-size: cover;
    }
    .numbers {
        width: 10%;
        list-style: none;
        margin-top: 10em;
        margin-left: -5em;        
        li  {            
            height: 6em;            
            vertical-align: middle;
            cursor: pointer;            
            &:hover {
                color: $blue;
                font-size: 2em;
                
            } 
            &:focus {
                color: $blue;
                font-size: 2em;
            } 
        }        
    }
}
.foot_btn {
    border: none;
    background: none;
    color: $blue;
    height: 1.8em;
    font-size: 1.2em;
    
    &:hover {
        border-radius: 4em;
        border: 1px solid $blue;
    }
    &:focus {
        border-radius: 4em;
        border: 1px solid $blue;
        color: rgba(110, 203, 255, 0.5);
        outline: none !important;
    }
}
.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 5%; 
    padding-right: 5%; 
}
.blue {
    color: darkcyan;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: 0;
}
@media only screen and (max-width:1366px){
    header .contact_buttons {
        width: 30%; 
    }
    .main_container {
    .top_main {
    .third_part {
        .main_info {
            width: 70%;
            height: 20em;            
            top: 25%;
            left: -10%;                
            h1 {                
                font-size: 4em;                
            }
            .read_more {                
                height: 2em;
                width: 10em;
                font-size: 1em;
            }
        }        
        width: 70%;
        height: 45em;        
    }
}
    .second_page_block1 {                   
        width: 25%;
        height: 30em;
        margin-top: 3%;
        margin-left: 0%;        
    }
    .second_page_block2 {        
        width: 25%;
        margin-top: 10%;
        margin-left: -5%;
        h2 {
            font-size: 2em;
        }
        p {
            font-size: 1em;
        }
    }
    .second_page_block3 {        
        width: 20%;
        margin-top:8%;
        margin-left: -5%;         
    }
}
}
@media only screen and (max-width:1280px){
    .header {
        .logo {
            margin-left: 5%;
            width: 8%;
            height: 3em;
        }
        .menu {
            width: 50%;
        }
    }
    .main_container {
        .top_main {
        .first_part {
            p {
                font-size: 0.9em;
            }
        }        
        .third_part {
            .main_info {
                width: 70%;
                height: 20em;            
                top: 25%;
                left: -10%;                
                h1 {                
                    font-size: 3em;                
                }
                .read_more {                
                    height: 2em;
                    width: 10em;
                    font-size: 0.9em;
                }
            }        
            width: 70%;
            height: 45em;        
        }
    }
} 
}
@media only screen and (max-width:980px){
    .header {
        .logo {            
            width: 7%;
            height: 2.5em;
        }
        .contact_buttons {
            .contact_us {
                display: none;
            }
        }
    }
    .main_container {
        .top_main {
        .first_part {
            p {
                font-size: 0.9em;
            }
        }        
        .third_part {
            .main_info {
                width: 70%;
                height: 20em;            
                top: 25%;
                left: -10%;                
                h1 {                
                    font-size: 3em;                
                }
                .read_more {                
                    height: 2em;
                    width: 10em;
                    font-size: 0.9em;
                }
            }        
            width: 70%;
            height: 45em;        
        }
    }
    .second_page_block2 {       
        
        h2 {
            font-size: 1.5em;
        }
        p {
            font-size: 0.8em;
        }
    }
} 
}
@media only screen and (max-width:980px){
    .header {
        .logo {            
            width: 7%;
            height: 2.5em;
        }
        .contact_buttons {
            .contact_us {
                display: none;
            }
        }
    }
    .main_container {
        .main_text {
            display: none;
        }
        .top_main {
        .first_part {
            p {
                font-size: 0.9em;
            }
        }        
        .third_part {
            .main_info {                               
                h1 {                
                    font-size: 2.5em;                
                }
                
            }       
                   
        }
    }
    }
}
@media only screen and (max-width:768px){
    .header {
        .logo {            
            width: 6%;
            height: 2em;
        }
        .menu{
            font-size: 0.9em;
        }
        .contact_buttons {
            margin-top: 5%;
            margin-left: -5%;
            .contact_us {
                display: none;
            }
        }
    }
    .main_container {
        .top_main {
        .first_part {
            p {
                font-size: 0.6em;
            }
        }        
        .third_part {
            .main_info {                               
                h1 {                
                    font-size: 2em;                
                }
                
            }       
                   
        }
    }
    .second_page_block1 {
        width: 40%;
        height: 25em;
    }
    .second_page_block3 {
        width: 1%;
        visibility: hidden;
    }
    } 
}
@media only screen and (max-width:540px){
    .header {
        .logo {            
            width: 6%;
            height: 1.8em;
        }
        .menu{
            font-size: 0.8em;
            margin-left: -10%;
        }
        .contact_buttons {
            margin-top: 7%;
            margin-left: -15%;
            
        }
    }
    .main_container {
        flex-direction: column;
        .top_main {
            .third_part {
                height: 33em;
            }
        }
        .second_page_block1 {            
            height: 30em;
            width: 70%;
            align-self: center;            
        }
        .second_page_block2 {
            width: 70%;
            align-self: center;
        }
        .numbers_block {
        margin: 0;
        ul{ 
            margin-top:1em;
            margin-left: 1em;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 90%;
            li {
                height: 2em;
            }
        }
    }
    }
    .footer {
        justify-content: flex-start;
    }
}
@media only screen and (max-width:480px){
    .header {
        display: flex;
        justify-content: flex-start;
        .menu {
            margin-left:-1em;
        }
        .contact_buttons{
            display: none;
        }
    }
    .main_container {
        flex-direction: column;
        .top_main {
            .third_part {
                height: 33em;
            }
        }
        .second_page_block1 { 
            margin-left: -5em;           
            height: 20em;
            width: 50%;
            align-self: center;            
        }
        .second_page_block2 {
            margin-left: -5em;
            width: 50%;
            align-self: center;
        }
        .numbers_block {
        margin: 0;
        margin-left: -5em;
        ul{             
            justify-content: center;
            
            li {
                height: 2em;
                margin-right: 2em;
            }
        }
    }
    }
}
@media only screen and (max-width:375px){
    .main_container{
        .top_main {
            .third_part {
                .main_info {
                    width: 60%;
                    h1{
                        font-size:2em;
                    }
                    p {
                        font-size:0.9em; 
                    }
                }
            }
        }
        .second_page_block1 {
            margin-left: -10em;
        }
        .second_page_block2 {
            margin-left: -10em;
        }
        .numbers {
            margin-left: -10em;
        }
    }
}


